{% extends 'base.html.twig' %}

{% block main %}
    <p>"Take no part in the unfruitful works of darkness, but instead expose them."(Ephesians 5:11)</p>
    <form name="authenticate" action="{{ path('security_login') }}" method="post">
        <label>
            <input type="text" name="_username"/>
        </label>
        <label>
            <input type="text" name="_password"/>
        </label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <input type="submit" value="Login">
    </form>

{% endblock %}